@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100% */
}
body{
    background-image: linear-gradient(to right, #021c4f, #c50337);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(71, 2, 2);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #021c4f;
    text-align: center;
    text-shadow: 1px 1px 1px (#6d001d);
}
h2{
    color: #c50337;
}
p{
    text-align: justify;
}